---
const { class: className } = Astro.props;
---

<div class:list={['card', className]}>
  <slot />
</div>

<style>
  div {
    align-self: flex-start;
    position: relative;
    max-inline-size: 420px;
    inline-size: 60vw;
    min-inline-size: 280px;
    padding: 38px 30px 30px;
    background: rgb(255 255 255 / 0.01);
    border: solid 3px var(--txtDK);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    /* 水平オフセット 垂直オフセット ぼかし半径 色 */
    box-shadow: 0 0 54px color-mix(in srgb, var(--txtDK) 25%, transparent);
    margin: 20px 30px;
    @media (max-width: 768px) {
      inline-size: 80vw;
    }
  }
  .card--inner-shadow {
    /* 水平オフセット 垂直オフセット ぼかし半径 色 */
    box-shadow: inset 0 4px 250px var(--bgLT);
  }
</style>
