/* よく使うlayout用のスタイルの組み合わせを定義する */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.gridCenter {
  display: grid;
  place-content: center;
}

.fullScreen {
  inline-size: 100vw;
  block-size: 100svh;
}

.fixedFull {
  position:fixed;
  inset: 0;
  z-index: -1;
}

.showBG {
  margin-bottom: 100svh;
}