/* よく使うlayout用のスタイルの組み合わせを定義する */

// flexCenter
.FC {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

// gridCenter
.GC {
  display: grid;
  place-content: center;
}

// fullScreen
.FS {
  inline-size: 100vw;
  block-size: 100svh;
}

// fullFixed
.FF {
  position:fixed;
  inset: 0;
  z-index: -1;
}

// showBG
.SBG {
  margin-bottom: 100svh;
}