---
import { Image } from 'astro:assets';
// ---- Components ----
import Section from '_Section';
import Note from '@ui-elements/Note.astro';
import SkillSet from '@ui-elements/SkillSet.astro';
import LatestBlog from '@ui-elements/LatestBlog.astro';
import FavoMusic from '@ui-elements/FavoMusic.astro';
// ---- local Images ----
import myFace from '@images/myFace.jpg';
// ---- CSS ----
import layout from '@styles/layouts.module.scss';
---

<Section class:list={[`${layout.SBG}`]}>
  <h2>ABOUT ME</h2>
  <div>
    <Image src={myFace} alt="かりこのプロフィール写真。" />
  </div>
  <ul>
    <li>かりこ</li>
    <li>1998年7月生まれの25歳</li>
    <li>神奈川県 川崎市 出身</li>
  </ul>
  <p>
    福岡県在住のマルチクリエイターです。
    はじまりは趣味のイラストをキッカケに頂いたグラフィックデザインのお仕事でした。そこからわらしべ長者の要領でWebデザイン、コーディング、フロントエンドと少しずつ技術の幅を広げ、現在に至ります。
  </p>
  <section>
    <Note />
    <SkillSet />
    <LatestBlog />
    <FavoMusic />
  </section>
</Section>

<style>
  div {
    display: grid;
    place-items: center;
    max-inline-size: 350px;
    max-block-size: 350px;
    inline-size: 80vw;
    block-size: 80vw;
    border-radius: 50%;
    background-color: #b8c8cc;
    margin-inline: auto;
    margin-block-end: 30px;
  }
  img {
    display: block;
    inline-size: calc(100% - 30px - 30px);
    block-size: auto;
    min-inline-size: 170px;
    border-radius: 50%;
  }
  ul {
    position: relative;
    text-align: center;
  }
  li {
    margin-block-end: 0.16em;
  }
  li:first-child {
    color: var(--txtNM);
    font-size: clamp(26px, 7vw, 46px);
    font-weight: 700;
  }
  li:last-child {
    margin-block-end: 30px;
  }
  p {
    max-inline-size: 500px;
    inline-size: 80vw;
    margin-inline: auto;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
</style>
