---
// ---- Components ----
import Section from '_Section';
import SNS from '@ui-elements/SNS.astro';
---

<Section>
  <h2>CONTACT</h2>
  <div>
    <SNS title="SNS 1" />
    <SNS title="SNS 2" />
    <SNS title="SNS 3" />
  </div>
</Section>
