---
// ---- Components ----
import Section from '_Section';
import ModelWork from '@ui-elements/ModelWork.astro';
---

<Section>
  <h2>FINALLY</h2>
  <p>今回ポートフォリオサイトを作るにあたって参考にさせて頂いた作品はこちら。</p>
  <ModelWork title="かまぼこのへや" />
  <ModelWork title="Yusuke Sano" />
  <p>今度は私の作品が誰かにとっての創作のキッカケとなりますように。</p>
</Section>
