---
// ---- i18n ----
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// ---- CSS ----
import layout from '@styles/layouts.module.scss';
---

<div class:list={[`${layout.SBG}`, `${layout.FS}`, `${layout.GC}`]}>
  <h2>MY PORTFOLIO SITE</h2>
  <h3>KARIKO</h3>
  <p class="en">Designer / Front end Engineer</p>
</div>

<style>
  div {
    color: var(--txtBT);
    text-align: center;
    letter-spacing: 0.03em;
  }
  h2 {
    color: #fff;
    font-size: var(--hLG);
    font-weight: 800;
  }
  h3 {
    font-size: var(--hMD);
    font-weight: 700;
    letter-spacing: 0.12em;
  }
</style>
