---
// ---- Components ----
import Section from '_Section';
import Work from '@ui-elements/Work.astro';
// ---- i18n ----
---

<Section>
  <h2>WORKS</h2>
  <Work labels={''} />
  <Work labels={''} />
  <Work labels={''} />
</Section>
